/* Format all */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

/* xFormat all */

/* Bagian Header */

.logo {
    padding: 15px;
    width: 38vh;
    float: left;
}

header {
    width: 100%;
    height: 11.5vh;
    margin: auto;
    padding-top: 1px;
    padding-left: 50px;
    background-color: white;
}

header ul {
    color: rgb(0, 94, 255);
    float: right;
    margin: auto;
    font-weight: bold;
    padding-right: 120px;
}

header li {
    display: inline-block;
}

header ul li {
    padding: 38.35px 15px;
}

header ul li:hover {
    color: orange;
    text-decoration: underline;
    color: mediumblue;
    transition: 1s all;
}

/* sidebar */

.mobile img {
    display: none;
    width: 30px;
    float: right;
    padding: 30px;
}

.sidebar {
    text-align: center;
    position: fixed;
    top: 0;
    right: -500px;
    bottom: auto;
    width: 30vh;
    /* background-color: white; */
    z-index: 998;
}

.sidebar ul {
    margin-top: 5px;
}

.sidebar ul li {
    display: block;
    padding-bottom: 18px;
    padding-top: 18px;
    color: rgb(0, 94, 255);
    background-color: white;
    border: 2px solid rgb(0, 94, 255);
    border-radius: 50px;
    font-size: 20px;
}

.sidebar ul li:hover {
    background-color: dodgerblue;
    color: white;
}

.close img {
    width: 30px;
    padding-left: 150px;
    padding-top: 3px;
    background-color: white;
    border: 5px solid white;
}

#check {
    display: none;
}

#check:checked~.sidebar {
    right: 0;
    transition: 1s;
}

#check~.sidebar {
    transition: 1s;
}

/* xsidebar */

/* Active */

.active {
    background-color: royalblue;
    color: white;
}

.active2 {
    font-weight: bold;
}

/* xActive */

/* xBagian Header */

/* Banner */

.banner {
    height: 100vh;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.banner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 94, 255, 0.5);
    z-index: -1;
}

.banner h2 {
    font-size: 18ex;
    text-align: center;
    font-family: 'Yatra One', cursive;
    color: lavender;
    z-index: 1;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.592);
}

.banner h3 {
    font-size: 15ex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 217, 26);
    z-index: 1;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.592);
}

/* xBanner */

/* content */

.vimi {
    height: 100vh;
    background-color: teal;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.vimi h3 {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 40px;
}

/* xContent */

.struktur {
    height: 100vh;
    width: 70%;
    margin: auto;
    padding-top: 20px;
    color: dimgray;
    /* display: flex; */
    text-align: center;
    justify-content: center;
    align-items: center;
}

.struktur img {
    width: 30%;
    padding-top: 50px;
}

.struktur h2 {
    width: 80%;
    margin: auto;
    text-align: center;
    color: dimgray;
}

.ketua {
    padding-top: 30px;
    padding-bottom: 20px;
}

.ketua h3 {
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(109, 109, 109, 0.104);
    border: 5px solid white;
    border-radius: 20px;
    font-weight: bold;
}

.menteri {
    float: left;
}

.dirjen {
    float: right;
}

.struk {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
}

.menteri p {
    text-align: justify;
    padding: 10px 20px;
    background-color: rgba(109, 109, 109, 0.104);
    border: 5px solid white;
    border-radius: 20px;
    font-weight: bold;
}

.dirjen p {
    text-align: justify;
    padding: 10px 20px;
    background-color: rgba(109, 109, 109, 0.104);
    border: 5px solid white;
    border-radius: 20px;
    font-weight: bold;
}

.contact {
    height: 90vh;
    background-color: rgb(35, 35, 35);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contact h3 {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 40px;
}

footer {
    height: 10vh;
    background-color: rgb(35, 35, 35);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer h5 {
    padding: 30px;
}

/* mode smartphone */

@media (max-width: 1200px) {
    header {
        width: 100%;
        height: 11vh;
        background-color: white;
    }
    header ul li {
        display: none;
    }
    .logo {
        padding-top: 14px;
    }
    .mobile img {
        display: block;
        width: 30px;
    }
    .sidebar ul li {
        font-size: 15px;
        width: 40px;
    }
}

.banner h2 {
    font-size: 10ex;
}

.banner h3 {
    font-size: 10ex;
}

.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.3s ease-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 999;
}

.scroll {
    top: -90px;
}

.no-scroll {
    top: 0px;
    z-index: 999;
}

.struktur {
    width: 80%;
}

.struktur img {
    display: none;
}


@media (max-width: 800px) {
    .logo {
        width: 30vh;
        padding-top: 20px;
    }
    header ul li {
        display: none;
    }
    header {
        width: 100%;
        height: 11vh;
        background-color: white;
    }
    .mobile img {
        display: block;
        width: 25px;
    }
    .sidebar {
        width: 20vh;
    }
    .banner h2 {
        font-size: 7ex;
    }
    .banner h3 {
        font-size: 7ex;
    }
    footer h5 {
        font-size: 10px
    }
    .fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        transition: all 0.3s ease-out;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        z-index: 999;
    }
    .scroll {
        top: -90px;
    }
    .no-scroll {
        top: 0px;
        z-index: 999;
    }
    .struktur {
        height: 100vh;
        width: 90%;
        margin: auto;
        padding-top: 20px;
        color: dimgray;
        /* display: flex; */
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .struktur img {
        width: 30%;
        padding-top: 50px;
    }
    .struktur h2 {
        width: 80%;
        margin: auto;
        text-align: center;
        color: dimgray;
    }
    .ketua {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .ketua h3 {
        text-align: center;
        padding: 10px 20px;
        background-color: rgba(109, 109, 109, 0.104);
        border: 5px solid white;
        border-radius: 20px;
        font-weight: bold;
        font-size: 16px;
    }
    .menteri {
        float: left;
    }
    .dirjen {
        float: right;
    }
    .struk {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 50%;
        -moz-column-width: 50%;
        column-width: 50%;
    }
    .menteri p {
        text-align: justify;
        font-size: 14px;
        padding: 10px 20px;
        background-color: rgba(109, 109, 109, 0.104);
        border: 5px solid white;
        border-radius: 20px;
        font-weight: bold;
    }
    .dirjen p {
        text-align: justify;
        font-size: 14px;
        padding: 10px 20px;
        background-color: rgba(109, 109, 109, 0.104);
        border: 5px solid white;
        border-radius: 20px;
        font-weight: bold;
    }
}

@media (max-width: 800px) {
    .struktur {
        height: 120vh;
    }
    .struktur h2 {
        font-size: 20px;
    }
    .dirjen {
        display: block;
        float: none;
    }
    .menteri {
        display: block;
        float: none;
    }
    .dirjen p {
        text-align: center;
    }
    .menteri p {
        text-align: center;
    }
}

@media (max-width: 400px) {
    .struktur {
        height: 155vh;
    }
    .sidebar ul li {
        font-size: 12px;
    }
    .struktur h2 {
        font-size: 20px;
    }
    .dirjen {
        display: block;
        float: none;
    }
    .menteri {
        display: block;
        float: none;
    }
    .dirjen p {
        text-align: center;
    }
    .menteri p {
        text-align: center;
    }
}

@media (max-width: 345px) {
    .struktur {
        height: 155vh;
    }
}